/* Colors */
:root {
    /* LIGHT THEME COLORS */
    --whoogle-logo: #677287;
    --whoogle-page-bg: #ffffff;
    --whoogle-element-bg: #4285f4;
    --whoogle-text: #202124;
    --whoogle-contrast-text: #ffffff;
    --whoogle-secondary-text: #4e5155;
    --whoogle-result-bg: #ffffff;
    --whoogle-result-title: #190ea4;
    --whoogle-result-url: #4e5155;
    --whoogle-result-visited: #6023a2;

    /* DARK THEME COLORS */
    --whoogle-dark-logo: #677287;
    --whoogle-dark-page-bg: #202124;
    --whoogle-dark-element-bg: #4285f4;
    --whoogle-dark-text: #bec0c3;
    --whoogle-dark-contrast-text: #e8eaed;
    --whoogle-dark-secondary-text: #9ca0a5;
    --whoogle-dark-result-bg: #2c2d30;
    --whoogle-dark-result-title: #93b3f3;
    --whoogle-dark-result-url: #9ca0a5;
    --whoogle-dark-result-visited: #bd8cf2;
}

#whoogle-w {
    fill: #4285f4;
}

#whoogle-h {
    fill: #ea4335;
}

#whoogle-o-1 {
    fill: #fbbc05;
}

#whoogle-o-2 {
    fill: #4285f4;
}

#whoogle-g {
    fill: #34a853;
}

#whoogle-l {
    fill: #ea4335;
}

#whoogle-e {
    fill: #fbbc05;
}
